.chip {
	margin: 1vh 2vw;
	flex: 1 1 1;
}

.chip-array {
	display: flex;
  justify-content: center;
	flex-flow: wrap;
}

#about-container {
	display: flex;
  flex-flow: column;
  margin: 10vh 30vw;
}

#skill-container {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	width: 40vw;
}

#skills-container {
	display: flex;
	flex-flow: column;
	align-content: center;
	align-items: center;
	margin: 10vh 10vw;
}

@media (max-width: 1110px) {
	#skill-container {
		width: 90vw;
	}
}

@media (max-width: 900px) {
	#about-container {
		margin: 10vh 10vw;
	}
}
